// Specific CSS for your home-page
body {
  margin-top: 50px;
  background-color: #FFF7EF;
  text-align: center;
}

#typed {
  font-size: 32px;
  color: #4B8C9A;
  display: block;
  margin-bottom: 5px;
}

#typed-two {
  font-weight: lighter;
}

#typed-two > span {
  font-size: 18px;
  font-weight: bolder;
  color: #7BBDCC;
}

.fa-smile {
  color: #7BBDCC;
  font-size: 18px;
}

.home-box {
  background-color: #fff;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.home-box p {
  margin: 0 !important;
}
