// Specific CSS for your home-page

.home-header {
  height: 100px;
}

.logo {
  width: 160px;
}

#typed-strings {
  font-size: 32px;
  color: #381DF0;
  display: block;
  margin-bottom: 5px;
}

#typed {
  font-size: 23px;
  color: #000;
  display: block;
  margin-bottom: 5px;
}

#name {
  color: #381DF0;
}

#typed-two {
  font-weight: 200;
  color: #000;
  line-height: 30px;
}

#typed-two > span {
  font-size: 18px;
  font-weight: bolder;
  color: #381DF0;
}


#typed-strings-two {
  font-weight: 200;
  color: #27323F;
  line-height: 30px;
}

#typed-strings-two > span {
  font-size: 18px;
  font-weight: bolder;
  color: #7BBDCC;
}

.margin-top-40 {
  margin-top: 40px;
}

.fa-smile {
  color: #7BBDCC;
  font-size: 18px;
}

.home-box {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #381DF0;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
}

.animation {
  transform: scale(0);
  animation-name: appear;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.35,.36,1,1.79);
}

.home-box p {
  margin: 0 !important;
  font-weight: 300;
  font-size: 16px;
  color: #000;
}

#box-one {
  animation-delay: 2.5s;
}

#box-two {
  animation-delay: 2.75s;
}

#box-three {
  animation-delay: 3s;
}

#box-four {
  animation-delay: 3.25s;
}

.home-link:hover {
  text-decoration: none;
  box-shadow: none;
}

.action-verb {
  color: #381DF0;
}

@keyframes appear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
