<div class="container">
  <div id="typed-strings">
    <h1>Hello <%= current_user.first_name %> !</h1>
  </div>
  <span id="typed"></span>
  <div id="typed-strings-two">
    <p>Tu as <span><%= @subscriptions.length %></span> abonnements en cours et tu as économisé <span>600€</span> depuis que tu utilises Resilio <i class="far fa-smile"></i></p>
  </div>
  <span id="typed-two"></span>

  <div class="row mt-5">
    <div class="col">
      <div id="box-one" class="home-box d-flex align-items-center">
        <p>Synchroniser mes comptes</p>
      </div>
    </div>
    <div class="col">
      <div id="box-two" class="home-box d-flex align-items-center">
        <p>Voir mes abonnements sur le point de se renouveler</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="box-three" class="home-box d-flex align-items-center">
        <p>Synchroniser mes comptes</p>
     </div>
    </div>
    <div class="col">
      <div id="box-four" class="home-box d-flex align-items-center">
        <p>Voir mes abonnements sur le point de se renouveler</p>
      </div>
    </div>
  </div>
</div>
