<h1>Demande de Résiliation</h1>
<%= subscription.name %>

<h2>Mes coordonnées</h2>
<p><%= current_user.first_name %></p>
<p><%= current_user.last_name %></p>
<p><%= current_user.email %></p>









