.button-new-subscription {
  border-radius: 25px;
  background-color: #381DF0;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-new-subscription:hover {
  background-color: #381DF0;
  color: #FFFFFF;
}


// radio buttons


.category-wrapper {
  display: flex;
  justify-content: space-between;
  //flex-wrap: wrap;
}

.category-item {
  flex: 0 0 49%;
}

.category-selector {
  //position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  //cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 15px 10px 15px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
  color: #495057;
}

.category-selector:checked + label {
  //color: #24B2AA;
  color: white;
  background-color: #24B2AA!important;
  //border: 1px solid #24B2AA;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: #495057;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label:hover {
    color: #fff;
}

.nav-link {
    display: none;
    padding: 0.5rem 1rem;
}
