.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin: 5px;
  display: flex;
  border-radius: 10px;
}

.card-product img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  height:100%;
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-product h1 {
  margin-bottom: 0px;
  font-size: 36px;
}

.banner-product {
  background-color: #87B5BF;
  color: #FFFFFF;
  padding: 24px;
  margin-bottom: 6px;
}

.product-price {
  font-size: 8px;
}

