
.picto {
}

.picto i {
  font-size: 26px;
  color: #757385;
}

.picto a i:focus {
  font-size: 26px;
  color: #381DF0;
}

.active {
  color: #381DF0;
}

.nav {
  height: 60px;
  background-color: #e5e5e5;
  border-top: 1px solid #757385;
}

.dropdown-menu {
  background-color: #C8DFE4;
  border: none;
}

.dropdown-item {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  padding: 0.25rem 0.5rem;
}

.dropup .dropdown-toggle::after {
  display: none;
}

div.dropdown-menu.dropdown-menu-right.show {
  top: 3px !important;
  left: 12px !important;
}

div.dropup {
  margin: none;
}
