// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.picto {
  width: 40px;

}

.nav {
  background-color: #C8DFE4;
  height: 60px;
  padding-top: 10px;
}

.dropdown-menu {
  background-color: #C8DFE4;
  border: none;
}

.dropdown-item {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  padding: 0.25rem 0.5rem;
}

div.dropdown-menu.dropdown-menu-right.show {
  top: 3px !important;
  left: 12px !important;
}
