.banner-subscription {
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-subscription img {
  height:30vh;
  width: 100%;
}

.banner-subscription h1 {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
}

.banner-subscription-logo img {
  position: absolute;
  bottom: -5%;
  left: 5%;
  height: 60px;
  width: 60px;
}

.mega-banner {
  position: relative;
}

.mega-banner-category {
  position: absolute;
  bottom: -12%;
  left: 25%;
}

.infos {
  padding-top: 50px;
}

.price {
  font-size: 40px;
  color: #4B8C9A;
  margin-bottom: 20px;
}

.card-show {
  overflow: hidden;
  height: 60px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 6px;
}
