<!-- TRANSACTION INDEX BANNER -->
<div class="banner-transaction">
  <h1>Mes paiements récurrents</h1>
</div>

<!-- CARD TRANSACTION -->
<div class="container">
  <div class="container-transaction">
    <div class="card-transaction-title">
      <h2>Nom de la transaction</h2>
      <div class="container-button-transaction">
        <div class="button-transaction">
          <a href="#" class="button-circle">+</a>
        </div>
        <div class="button-transaction">
          <a href="#" class="button-circle">-</a>
        </div>
      </div>
    </div>

    <div class="card-transaction-info">
      <div class="transaction-info">
        <p>transaction ref</p>
        <p>prix €</p>
      </div>
      <div class="transaction-info">
        <p>transaction ref</p>
        <p>prix €</p>
      </div>
      <div class="transaction-info">
        <p>transaction ref</p>
        <p>prix €</p>
      </div>
    </div>
  </div>



</div>
