<!DOCTYPE html>
<html>
  <head>
    <title>Demande de résiliation</title>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
